#navigation {
  margin-top: 50px;
  position: fixed;
}
#navigation .badge {
  top: -2px;
  padding-right: 5px;
  padding-left: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 9px;
  line-height: 9px;
}
#navigation .btn {
  width: 40px;
  padding: 4px 7px;
}
#content {
  margin-top: 50px;
  margin-left: 90px;
}
#content #new-post {
  width: 500px;
}
#content #new-post .add-tag-input {
  margin-right: 50px;
}
#content #settings {
  width: 500px;
}
#content #settings .nav {
  margin-right: 10px;
}
#content #settings .nav li a {
  width: 100px;
}
#content #settings .nav li a i {
  float: right;
}
#content #stack,
#content #latest,
#content #search {
  width: 500px;
}
#content #stack .view-all,
#content #latest .view-all,
#content #search .view-all {
  margin-bottom: 20px;
}
#content #stack .posts .post,
#content #latest .posts .post,
#content #search .posts .post {
  margin-bottom: 30px;
  border: 2px solid #EEEEEE;
  border-radius: 4px;
  padding: 8px;
}
#content #stack .posts .post .content,
#content #stack .posts .post .comment,
#content #latest .posts .post .content,
#content #latest .posts .post .comment,
#content #search .posts .post .content,
#content #search .posts .post .comment {
  word-wrap: break-word;
  position: relative;
  margin-bottom: 5px;
}
#content #stack .posts .post .content .command-bar.popup,
#content #stack .posts .post .comment .command-bar.popup,
#content #latest .posts .post .content .command-bar.popup,
#content #latest .posts .post .comment .command-bar.popup,
#content #search .posts .post .content .command-bar.popup,
#content #search .posts .post .comment .command-bar.popup {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  position: absolute;
  right: 20px;
  background-color: #EEEEEE;
  padding: 5px;
  display: none;
}
#content #stack .posts .post .content .command,
#content #stack .posts .post .comment .command,
#content #latest .posts .post .content .command,
#content #latest .posts .post .comment .command,
#content #search .posts .post .content .command,
#content #search .posts .post .comment .command {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 5px;
  background-color: #F5F5F5;
  display: none;
}
#content #stack .posts .post .content .command form,
#content #stack .posts .post .comment .command form,
#content #latest .posts .post .content .command form,
#content #latest .posts .post .comment .command form,
#content #search .posts .post .content .command form,
#content #search .posts .post .comment .command form {
  margin-bottom: 0px;
}
#content #stack .posts .post .content .command form .form-actions,
#content #stack .posts .post .comment .command form .form-actions,
#content #latest .posts .post .content .command form .form-actions,
#content #latest .posts .post .comment .command form .form-actions,
#content #search .posts .post .content .command form .form-actions,
#content #search .posts .post .comment .command form .form-actions {
  margin-top: 0px;
  margin-bottom: 0px;
}
#content #stack .posts .post .content .command.command-edit .add-tag-input,
#content #stack .posts .post .comment .command.command-edit .add-tag-input,
#content #latest .posts .post .content .command.command-edit .add-tag-input,
#content #latest .posts .post .comment .command.command-edit .add-tag-input,
#content #search .posts .post .content .command.command-edit .add-tag-input,
#content #search .posts .post .comment .command.command-edit .add-tag-input {
  margin-right: 50px;
}
#content #stack .posts .post .content p,
#content #stack .posts .post .content .text,
#content #stack .posts .post .comment p,
#content #stack .posts .post .comment .text,
#content #latest .posts .post .content p,
#content #latest .posts .post .content .text,
#content #latest .posts .post .comment p,
#content #latest .posts .post .comment .text,
#content #search .posts .post .content p,
#content #search .posts .post .content .text,
#content #search .posts .post .comment p,
#content #search .posts .post .comment .text {
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 0;
  text-align: justify;
}
#content #stack .posts .post .content p .youtube-preview,
#content #stack .posts .post .content p .vimeo-preview,
#content #stack .posts .post .content p .link-preview,
#content #stack .posts .post .content .text .youtube-preview,
#content #stack .posts .post .content .text .vimeo-preview,
#content #stack .posts .post .content .text .link-preview,
#content #stack .posts .post .comment p .youtube-preview,
#content #stack .posts .post .comment p .vimeo-preview,
#content #stack .posts .post .comment p .link-preview,
#content #stack .posts .post .comment .text .youtube-preview,
#content #stack .posts .post .comment .text .vimeo-preview,
#content #stack .posts .post .comment .text .link-preview,
#content #latest .posts .post .content p .youtube-preview,
#content #latest .posts .post .content p .vimeo-preview,
#content #latest .posts .post .content p .link-preview,
#content #latest .posts .post .content .text .youtube-preview,
#content #latest .posts .post .content .text .vimeo-preview,
#content #latest .posts .post .content .text .link-preview,
#content #latest .posts .post .comment p .youtube-preview,
#content #latest .posts .post .comment p .vimeo-preview,
#content #latest .posts .post .comment p .link-preview,
#content #latest .posts .post .comment .text .youtube-preview,
#content #latest .posts .post .comment .text .vimeo-preview,
#content #latest .posts .post .comment .text .link-preview,
#content #search .posts .post .content p .youtube-preview,
#content #search .posts .post .content p .vimeo-preview,
#content #search .posts .post .content p .link-preview,
#content #search .posts .post .content .text .youtube-preview,
#content #search .posts .post .content .text .vimeo-preview,
#content #search .posts .post .content .text .link-preview,
#content #search .posts .post .comment p .youtube-preview,
#content #search .posts .post .comment p .vimeo-preview,
#content #search .posts .post .comment p .link-preview,
#content #search .posts .post .comment .text .youtube-preview,
#content #search .posts .post .comment .text .vimeo-preview,
#content #search .posts .post .comment .text .link-preview {
  cursor: pointer;
}
#content #stack .posts .post .content p .youtube-preview img,
#content #stack .posts .post .content p .vimeo-preview img,
#content #stack .posts .post .content p .link-preview img,
#content #stack .posts .post .content .text .youtube-preview img,
#content #stack .posts .post .content .text .vimeo-preview img,
#content #stack .posts .post .content .text .link-preview img,
#content #stack .posts .post .comment p .youtube-preview img,
#content #stack .posts .post .comment p .vimeo-preview img,
#content #stack .posts .post .comment p .link-preview img,
#content #stack .posts .post .comment .text .youtube-preview img,
#content #stack .posts .post .comment .text .vimeo-preview img,
#content #stack .posts .post .comment .text .link-preview img,
#content #latest .posts .post .content p .youtube-preview img,
#content #latest .posts .post .content p .vimeo-preview img,
#content #latest .posts .post .content p .link-preview img,
#content #latest .posts .post .content .text .youtube-preview img,
#content #latest .posts .post .content .text .vimeo-preview img,
#content #latest .posts .post .content .text .link-preview img,
#content #latest .posts .post .comment p .youtube-preview img,
#content #latest .posts .post .comment p .vimeo-preview img,
#content #latest .posts .post .comment p .link-preview img,
#content #latest .posts .post .comment .text .youtube-preview img,
#content #latest .posts .post .comment .text .vimeo-preview img,
#content #latest .posts .post .comment .text .link-preview img,
#content #search .posts .post .content p .youtube-preview img,
#content #search .posts .post .content p .vimeo-preview img,
#content #search .posts .post .content p .link-preview img,
#content #search .posts .post .content .text .youtube-preview img,
#content #search .posts .post .content .text .vimeo-preview img,
#content #search .posts .post .content .text .link-preview img,
#content #search .posts .post .comment p .youtube-preview img,
#content #search .posts .post .comment p .vimeo-preview img,
#content #search .posts .post .comment p .link-preview img,
#content #search .posts .post .comment .text .youtube-preview img,
#content #search .posts .post .comment .text .vimeo-preview img,
#content #search .posts .post .comment .text .link-preview img {
  width: 120px;
}
#content #stack .posts .post .content p .youtube-preview .title,
#content #stack .posts .post .content p .youtube-preview .muted,
#content #stack .posts .post .content p .youtube-preview .description,
#content #stack .posts .post .content p .vimeo-preview .title,
#content #stack .posts .post .content p .vimeo-preview .muted,
#content #stack .posts .post .content p .vimeo-preview .description,
#content #stack .posts .post .content p .link-preview .title,
#content #stack .posts .post .content p .link-preview .muted,
#content #stack .posts .post .content p .link-preview .description,
#content #stack .posts .post .content .text .youtube-preview .title,
#content #stack .posts .post .content .text .youtube-preview .muted,
#content #stack .posts .post .content .text .youtube-preview .description,
#content #stack .posts .post .content .text .vimeo-preview .title,
#content #stack .posts .post .content .text .vimeo-preview .muted,
#content #stack .posts .post .content .text .vimeo-preview .description,
#content #stack .posts .post .content .text .link-preview .title,
#content #stack .posts .post .content .text .link-preview .muted,
#content #stack .posts .post .content .text .link-preview .description,
#content #stack .posts .post .comment p .youtube-preview .title,
#content #stack .posts .post .comment p .youtube-preview .muted,
#content #stack .posts .post .comment p .youtube-preview .description,
#content #stack .posts .post .comment p .vimeo-preview .title,
#content #stack .posts .post .comment p .vimeo-preview .muted,
#content #stack .posts .post .comment p .vimeo-preview .description,
#content #stack .posts .post .comment p .link-preview .title,
#content #stack .posts .post .comment p .link-preview .muted,
#content #stack .posts .post .comment p .link-preview .description,
#content #stack .posts .post .comment .text .youtube-preview .title,
#content #stack .posts .post .comment .text .youtube-preview .muted,
#content #stack .posts .post .comment .text .youtube-preview .description,
#content #stack .posts .post .comment .text .vimeo-preview .title,
#content #stack .posts .post .comment .text .vimeo-preview .muted,
#content #stack .posts .post .comment .text .vimeo-preview .description,
#content #stack .posts .post .comment .text .link-preview .title,
#content #stack .posts .post .comment .text .link-preview .muted,
#content #stack .posts .post .comment .text .link-preview .description,
#content #latest .posts .post .content p .youtube-preview .title,
#content #latest .posts .post .content p .youtube-preview .muted,
#content #latest .posts .post .content p .youtube-preview .description,
#content #latest .posts .post .content p .vimeo-preview .title,
#content #latest .posts .post .content p .vimeo-preview .muted,
#content #latest .posts .post .content p .vimeo-preview .description,
#content #latest .posts .post .content p .link-preview .title,
#content #latest .posts .post .content p .link-preview .muted,
#content #latest .posts .post .content p .link-preview .description,
#content #latest .posts .post .content .text .youtube-preview .title,
#content #latest .posts .post .content .text .youtube-preview .muted,
#content #latest .posts .post .content .text .youtube-preview .description,
#content #latest .posts .post .content .text .vimeo-preview .title,
#content #latest .posts .post .content .text .vimeo-preview .muted,
#content #latest .posts .post .content .text .vimeo-preview .description,
#content #latest .posts .post .content .text .link-preview .title,
#content #latest .posts .post .content .text .link-preview .muted,
#content #latest .posts .post .content .text .link-preview .description,
#content #latest .posts .post .comment p .youtube-preview .title,
#content #latest .posts .post .comment p .youtube-preview .muted,
#content #latest .posts .post .comment p .youtube-preview .description,
#content #latest .posts .post .comment p .vimeo-preview .title,
#content #latest .posts .post .comment p .vimeo-preview .muted,
#content #latest .posts .post .comment p .vimeo-preview .description,
#content #latest .posts .post .comment p .link-preview .title,
#content #latest .posts .post .comment p .link-preview .muted,
#content #latest .posts .post .comment p .link-preview .description,
#content #latest .posts .post .comment .text .youtube-preview .title,
#content #latest .posts .post .comment .text .youtube-preview .muted,
#content #latest .posts .post .comment .text .youtube-preview .description,
#content #latest .posts .post .comment .text .vimeo-preview .title,
#content #latest .posts .post .comment .text .vimeo-preview .muted,
#content #latest .posts .post .comment .text .vimeo-preview .description,
#content #latest .posts .post .comment .text .link-preview .title,
#content #latest .posts .post .comment .text .link-preview .muted,
#content #latest .posts .post .comment .text .link-preview .description,
#content #search .posts .post .content p .youtube-preview .title,
#content #search .posts .post .content p .youtube-preview .muted,
#content #search .posts .post .content p .youtube-preview .description,
#content #search .posts .post .content p .vimeo-preview .title,
#content #search .posts .post .content p .vimeo-preview .muted,
#content #search .posts .post .content p .vimeo-preview .description,
#content #search .posts .post .content p .link-preview .title,
#content #search .posts .post .content p .link-preview .muted,
#content #search .posts .post .content p .link-preview .description,
#content #search .posts .post .content .text .youtube-preview .title,
#content #search .posts .post .content .text .youtube-preview .muted,
#content #search .posts .post .content .text .youtube-preview .description,
#content #search .posts .post .content .text .vimeo-preview .title,
#content #search .posts .post .content .text .vimeo-preview .muted,
#content #search .posts .post .content .text .vimeo-preview .description,
#content #search .posts .post .content .text .link-preview .title,
#content #search .posts .post .content .text .link-preview .muted,
#content #search .posts .post .content .text .link-preview .description,
#content #search .posts .post .comment p .youtube-preview .title,
#content #search .posts .post .comment p .youtube-preview .muted,
#content #search .posts .post .comment p .youtube-preview .description,
#content #search .posts .post .comment p .vimeo-preview .title,
#content #search .posts .post .comment p .vimeo-preview .muted,
#content #search .posts .post .comment p .vimeo-preview .description,
#content #search .posts .post .comment p .link-preview .title,
#content #search .posts .post .comment p .link-preview .muted,
#content #search .posts .post .comment p .link-preview .description,
#content #search .posts .post .comment .text .youtube-preview .title,
#content #search .posts .post .comment .text .youtube-preview .muted,
#content #search .posts .post .comment .text .youtube-preview .description,
#content #search .posts .post .comment .text .vimeo-preview .title,
#content #search .posts .post .comment .text .vimeo-preview .muted,
#content #search .posts .post .comment .text .vimeo-preview .description,
#content #search .posts .post .comment .text .link-preview .title,
#content #search .posts .post .comment .text .link-preview .muted,
#content #search .posts .post .comment .text .link-preview .description {
  font-size: 11px;
}
#content #stack .posts .post .content p .youtube-preview .title,
#content #stack .posts .post .content p .vimeo-preview .title,
#content #stack .posts .post .content p .link-preview .title,
#content #stack .posts .post .content .text .youtube-preview .title,
#content #stack .posts .post .content .text .vimeo-preview .title,
#content #stack .posts .post .content .text .link-preview .title,
#content #stack .posts .post .comment p .youtube-preview .title,
#content #stack .posts .post .comment p .vimeo-preview .title,
#content #stack .posts .post .comment p .link-preview .title,
#content #stack .posts .post .comment .text .youtube-preview .title,
#content #stack .posts .post .comment .text .vimeo-preview .title,
#content #stack .posts .post .comment .text .link-preview .title,
#content #latest .posts .post .content p .youtube-preview .title,
#content #latest .posts .post .content p .vimeo-preview .title,
#content #latest .posts .post .content p .link-preview .title,
#content #latest .posts .post .content .text .youtube-preview .title,
#content #latest .posts .post .content .text .vimeo-preview .title,
#content #latest .posts .post .content .text .link-preview .title,
#content #latest .posts .post .comment p .youtube-preview .title,
#content #latest .posts .post .comment p .vimeo-preview .title,
#content #latest .posts .post .comment p .link-preview .title,
#content #latest .posts .post .comment .text .youtube-preview .title,
#content #latest .posts .post .comment .text .vimeo-preview .title,
#content #latest .posts .post .comment .text .link-preview .title,
#content #search .posts .post .content p .youtube-preview .title,
#content #search .posts .post .content p .vimeo-preview .title,
#content #search .posts .post .content p .link-preview .title,
#content #search .posts .post .content .text .youtube-preview .title,
#content #search .posts .post .content .text .vimeo-preview .title,
#content #search .posts .post .content .text .link-preview .title,
#content #search .posts .post .comment p .youtube-preview .title,
#content #search .posts .post .comment p .vimeo-preview .title,
#content #search .posts .post .comment p .link-preview .title,
#content #search .posts .post .comment .text .youtube-preview .title,
#content #search .posts .post .comment .text .vimeo-preview .title,
#content #search .posts .post .comment .text .link-preview .title {
  margin-bottom: 0px;
}
#content #stack .posts .post .content p iframe,
#content #stack .posts .post .content .text iframe,
#content #stack .posts .post .comment p iframe,
#content #stack .posts .post .comment .text iframe,
#content #latest .posts .post .content p iframe,
#content #latest .posts .post .content .text iframe,
#content #latest .posts .post .comment p iframe,
#content #latest .posts .post .comment .text iframe,
#content #search .posts .post .content p iframe,
#content #search .posts .post .content .text iframe,
#content #search .posts .post .comment p iframe,
#content #search .posts .post .comment .text iframe {
  margin-top: 25px;
}
#content #stack .posts .post .content .meta,
#content #stack .posts .post .comment .meta,
#content #latest .posts .post .content .meta,
#content #latest .posts .post .comment .meta,
#content #search .posts .post .content .meta,
#content #search .posts .post .comment .meta {
  padding-top: 2px;
  color: #999999;
  display: block;
  line-height: 20px;
  font-size: 85%;
}
#content #stack .posts .post .content .meta .info .viewStatus,
#content #stack .posts .post .comment .meta .info .viewStatus,
#content #latest .posts .post .content .meta .info .viewStatus,
#content #latest .posts .post .comment .meta .info .viewStatus,
#content #search .posts .post .content .meta .info .viewStatus,
#content #search .posts .post .comment .meta .info .viewStatus {
  background-color: #1B8EE0;
  display: inline-block;
  border-radius: 5px;
  font-size: 1px;
  padding: 5px;
  margin-bottom: -1px;
  margin-right: 5px;
  cursor: pointer;
}
#content #stack .posts .post .content .meta .info .viewStatus:hover,
#content #stack .posts .post .comment .meta .info .viewStatus:hover,
#content #latest .posts .post .content .meta .info .viewStatus:hover,
#content #latest .posts .post .comment .meta .info .viewStatus:hover,
#content #search .posts .post .content .meta .info .viewStatus:hover,
#content #search .posts .post .comment .meta .info .viewStatus:hover {
  background-color: #0BB340;
}
#content #stack .posts .post .content .meta li,
#content #stack .posts .post .comment .meta li,
#content #latest .posts .post .content .meta li,
#content #latest .posts .post .comment .meta li,
#content #search .posts .post .content .meta li,
#content #search .posts .post .comment .meta li {
  padding-left: 0px;
}
#content #stack .posts .post .content .meta li.tags,
#content #stack .posts .post .comment .meta li.tags,
#content #latest .posts .post .content .meta li.tags,
#content #latest .posts .post .comment .meta li.tags,
#content #search .posts .post .content .meta li.tags,
#content #search .posts .post .comment .meta li.tags {
  padding-right: 0px;
}
#content #stack .posts .post .hide-some-comments,
#content #stack .posts .post .show-more-comments,
#content #latest .posts .post .hide-some-comments,
#content #latest .posts .post .show-more-comments,
#content #search .posts .post .hide-some-comments,
#content #search .posts .post .show-more-comments {
  margin-bottom: 5px;
  cursor: pointer;
}
#content #stack .posts .post .new-comment .button input,
#content #latest .posts .post .new-comment .button input,
#content #search .posts .post .new-comment .button input {
  margin-bottom: 0px;
}
#content #stack .posts .post.viewed .meta .info .viewStatus,
#content #stack .posts .post .comment.viewed .meta .info .viewStatus,
#content #latest .posts .post.viewed .meta .info .viewStatus,
#content #latest .posts .post .comment.viewed .meta .info .viewStatus,
#content #search .posts .post.viewed .meta .info .viewStatus,
#content #search .posts .post .comment.viewed .meta .info .viewStatus {
  background-color: #EEEEEE;
}
#content #stack .posts .post.viewed .meta .info .viewStatus:hover,
#content #stack .posts .post .comment.viewed .meta .info .viewStatus:hover,
#content #latest .posts .post.viewed .meta .info .viewStatus:hover,
#content #latest .posts .post .comment.viewed .meta .info .viewStatus:hover,
#content #search .posts .post.viewed .meta .info .viewStatus:hover,
#content #search .posts .post .comment.viewed .meta .info .viewStatus:hover {
  background-color: #EEEEEE;
}
#content #single-view {
  width: 500px;
}
#content #single-view .content .post {
  margin-bottom: 30px;
  border: 2px solid #EEEEEE;
  border-radius: 4px;
  padding: 8px;
}
#content #single-view .content .post .content,
#content #single-view .content .post .comment {
  word-wrap: break-word;
  position: relative;
  margin-bottom: 5px;
}
#content #single-view .content .post .content .command-bar.popup,
#content #single-view .content .post .comment .command-bar.popup {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  position: absolute;
  right: 20px;
  background-color: #EEEEEE;
  padding: 5px;
  display: none;
}
#content #single-view .content .post .content .command,
#content #single-view .content .post .comment .command {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 5px;
  background-color: #F5F5F5;
  display: none;
}
#content #single-view .content .post .content .command form,
#content #single-view .content .post .comment .command form {
  margin-bottom: 0px;
}
#content #single-view .content .post .content .command form .form-actions,
#content #single-view .content .post .comment .command form .form-actions {
  margin-top: 0px;
  margin-bottom: 0px;
}
#content #single-view .content .post .content .command.command-edit .add-tag-input,
#content #single-view .content .post .comment .command.command-edit .add-tag-input {
  margin-right: 50px;
}
#content #single-view .content .post .content p,
#content #single-view .content .post .content .text,
#content #single-view .content .post .comment p,
#content #single-view .content .post .comment .text {
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 0;
  text-align: justify;
}
#content #single-view .content .post .content p .youtube-preview,
#content #single-view .content .post .content p .vimeo-preview,
#content #single-view .content .post .content p .link-preview,
#content #single-view .content .post .content .text .youtube-preview,
#content #single-view .content .post .content .text .vimeo-preview,
#content #single-view .content .post .content .text .link-preview,
#content #single-view .content .post .comment p .youtube-preview,
#content #single-view .content .post .comment p .vimeo-preview,
#content #single-view .content .post .comment p .link-preview,
#content #single-view .content .post .comment .text .youtube-preview,
#content #single-view .content .post .comment .text .vimeo-preview,
#content #single-view .content .post .comment .text .link-preview {
  cursor: pointer;
}
#content #single-view .content .post .content p .youtube-preview img,
#content #single-view .content .post .content p .vimeo-preview img,
#content #single-view .content .post .content p .link-preview img,
#content #single-view .content .post .content .text .youtube-preview img,
#content #single-view .content .post .content .text .vimeo-preview img,
#content #single-view .content .post .content .text .link-preview img,
#content #single-view .content .post .comment p .youtube-preview img,
#content #single-view .content .post .comment p .vimeo-preview img,
#content #single-view .content .post .comment p .link-preview img,
#content #single-view .content .post .comment .text .youtube-preview img,
#content #single-view .content .post .comment .text .vimeo-preview img,
#content #single-view .content .post .comment .text .link-preview img {
  width: 120px;
}
#content #single-view .content .post .content p .youtube-preview .title,
#content #single-view .content .post .content p .youtube-preview .muted,
#content #single-view .content .post .content p .youtube-preview .description,
#content #single-view .content .post .content p .vimeo-preview .title,
#content #single-view .content .post .content p .vimeo-preview .muted,
#content #single-view .content .post .content p .vimeo-preview .description,
#content #single-view .content .post .content p .link-preview .title,
#content #single-view .content .post .content p .link-preview .muted,
#content #single-view .content .post .content p .link-preview .description,
#content #single-view .content .post .content .text .youtube-preview .title,
#content #single-view .content .post .content .text .youtube-preview .muted,
#content #single-view .content .post .content .text .youtube-preview .description,
#content #single-view .content .post .content .text .vimeo-preview .title,
#content #single-view .content .post .content .text .vimeo-preview .muted,
#content #single-view .content .post .content .text .vimeo-preview .description,
#content #single-view .content .post .content .text .link-preview .title,
#content #single-view .content .post .content .text .link-preview .muted,
#content #single-view .content .post .content .text .link-preview .description,
#content #single-view .content .post .comment p .youtube-preview .title,
#content #single-view .content .post .comment p .youtube-preview .muted,
#content #single-view .content .post .comment p .youtube-preview .description,
#content #single-view .content .post .comment p .vimeo-preview .title,
#content #single-view .content .post .comment p .vimeo-preview .muted,
#content #single-view .content .post .comment p .vimeo-preview .description,
#content #single-view .content .post .comment p .link-preview .title,
#content #single-view .content .post .comment p .link-preview .muted,
#content #single-view .content .post .comment p .link-preview .description,
#content #single-view .content .post .comment .text .youtube-preview .title,
#content #single-view .content .post .comment .text .youtube-preview .muted,
#content #single-view .content .post .comment .text .youtube-preview .description,
#content #single-view .content .post .comment .text .vimeo-preview .title,
#content #single-view .content .post .comment .text .vimeo-preview .muted,
#content #single-view .content .post .comment .text .vimeo-preview .description,
#content #single-view .content .post .comment .text .link-preview .title,
#content #single-view .content .post .comment .text .link-preview .muted,
#content #single-view .content .post .comment .text .link-preview .description {
  font-size: 11px;
}
#content #single-view .content .post .content p .youtube-preview .title,
#content #single-view .content .post .content p .vimeo-preview .title,
#content #single-view .content .post .content p .link-preview .title,
#content #single-view .content .post .content .text .youtube-preview .title,
#content #single-view .content .post .content .text .vimeo-preview .title,
#content #single-view .content .post .content .text .link-preview .title,
#content #single-view .content .post .comment p .youtube-preview .title,
#content #single-view .content .post .comment p .vimeo-preview .title,
#content #single-view .content .post .comment p .link-preview .title,
#content #single-view .content .post .comment .text .youtube-preview .title,
#content #single-view .content .post .comment .text .vimeo-preview .title,
#content #single-view .content .post .comment .text .link-preview .title {
  margin-bottom: 0px;
}
#content #single-view .content .post .content p iframe,
#content #single-view .content .post .content .text iframe,
#content #single-view .content .post .comment p iframe,
#content #single-view .content .post .comment .text iframe {
  margin-top: 25px;
}
#content #single-view .content .post .content .meta,
#content #single-view .content .post .comment .meta {
  padding-top: 2px;
  color: #999999;
  display: block;
  line-height: 20px;
  font-size: 85%;
}
#content #single-view .content .post .content .meta .info .viewStatus,
#content #single-view .content .post .comment .meta .info .viewStatus {
  background-color: #1B8EE0;
  display: inline-block;
  border-radius: 5px;
  font-size: 1px;
  padding: 5px;
  margin-bottom: -1px;
  margin-right: 5px;
  cursor: pointer;
}
#content #single-view .content .post .content .meta .info .viewStatus:hover,
#content #single-view .content .post .comment .meta .info .viewStatus:hover {
  background-color: #0BB340;
}
#content #single-view .content .post .content .meta li,
#content #single-view .content .post .comment .meta li {
  padding-left: 0px;
}
#content #single-view .content .post .content .meta li.tags,
#content #single-view .content .post .comment .meta li.tags {
  padding-right: 0px;
}
#content #single-view .content .post .hide-some-comments,
#content #single-view .content .post .show-more-comments {
  margin-bottom: 5px;
  cursor: pointer;
}
#content #single-view .content .post .new-comment .button input {
  margin-bottom: 0px;
}
#content #single-view .content .post.viewed .meta .info .viewStatus,
#content #single-view .content .post .comment.viewed .meta .info .viewStatus {
  background-color: #EEEEEE;
}
#content #single-view .content .post.viewed .meta .info .viewStatus:hover,
#content #single-view .content .post .comment.viewed .meta .info .viewStatus:hover {
  background-color: #EEEEEE;
}
#content #feed .post .headline {
  font-weight: bold;
}
#content #feed .post .headline.viewed {
  font-weight: normal;
  color: #8C8C8C;
  font-size: 85%;
}
#content #feed .post .headline .post-link {
  font-weight: bold;
}
#content #feed .post .activity {
  font-weight: bold;
}
#content #feed .post .activity li.viewed {
  font-weight: normal;
  color: #8C8C8C;
  font-size: 85%;
}
#login-box {
  margin-top: 50px;
  margin-left: 50px;
}
