
@width: 500px;

@border-color-grey :#EEEEEE;
@border-color-green :#0BB340;
@border-color-blue : #1B8EE0;


.opacity(@opacity: 0.5) {
  -moz-opacity: @opacity;
  -khtml-opacity: @opacity;
  -webkit-opacity: @opacity;
  opacity: @opacity;
  @opperc: @opacity * 100;
  -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(opacity=@{opperc})";
  filter: ~"alpha(opacity=@{opperc})";
}

.rounded(@radius: 3px) {
    border-radius: @radius;
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
}
#navigation {
   margin-top: 50px;
   position: fixed;

    .badge {
       
        top: -2px;
        padding-right: 5px;
        padding-left: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        font-size: 9px;
        line-height: 9px;
    }

    .btn {
        width: 40px;
        padding: 4px 7px;
    }
}

#content {

    margin-top: 50px;
    margin-left: 90px;

    #new-post {
         width: @width;

         .add-tag-input {
             margin-right: 50px;
         }
    }

    #settings {
          width: @width;

          .nav {
                margin-right: 10px;

                li {
                   a {
                    width: 100px;
                    i {
                        float: right;
                    }
                    }
                }
          }

          
    }

.postHtmlLayer(){
    margin-bottom: 30px;

    border: 2px solid @border-color-grey;
    border-radius: 4px;
    padding: 8px;

    .content, .comment {
        word-wrap: break-word;
        position: relative;

       
        margin-bottom: 5px;

        .command-bar.popup {
           .rounded(4px);
           position: absolute;
           right: 20px;
           background-color: #EEEEEE;
           padding: 5px;
           display: none;
        }

        .command {
          
            .rounded(4px);
            padding: 5px;
            background-color: #F5F5F5;
            display: none;


            form {
                margin-bottom: 0px;
                .form-actions {
                    margin-top: 0px;
                    margin-bottom: 0px;
                }
            }

            &.command-edit {

                .add-tag-input {
                    margin-right: 50px;
                }
            }
        }


        p, .text {
            font-size: 13px;
            font-weight: 300;
            line-height: 20px;
            margin-bottom: 0;
            text-align: justify;

            .youtube-preview, .vimeo-preview, .link-preview{
                cursor: pointer;
                img {
                    width: 120px;
                }
                .title, .muted, .description {
                    font-size: 11px;
                }
                .title {
                    margin-bottom: 0px;
                }
            }

            iframe {
                 margin-top: 25px;
            }
        }

        .meta {
            padding-top: 2px;
            color: #999999;
            display: block;
            line-height: 20px;
            font-size: 85%;

            .info .notViewed {
                padding-right: 4px;
                padding-left: 4px;
                cursor: pointer;
                &:hover {
                    background-color: #B94A48;
                }
            }

            li{
                padding-left: 0px;
                &.tags {
                    padding-right: 0px;
                }
            }
        }
    }

    .comment {

    }
    .hide-some-comments, .show-more-comments {
        margin-bottom: 5px;
        cursor: pointer;
    }

    .comments {
    }

    .new-comment {

       .button input{
           margin-bottom: 0px;
       }
    }
}

  
    #stack, #latest, #search {
        width: @width;

        .view-all {
            margin-bottom: 20px;
        }
        .posts {
            .post {
                .postHtmlLayer
            }
        }
    }
    #single-view {
        width: @width;
        .content .post {
            .postHtmlLayer
        }
    }

    #feed {
        .post {
            .headline{
                font-weight: bold;
                
                &.viewed {
                     font-weight: normal;
                    color: #8C8C8C;
                    font-size: 85%;
                }

                .post-link {
                     font-weight: bold;
                }
            }

            .activity {
                font-weight: bold;

                li.viewed {
                     font-weight: normal;
                     color: #8C8C8C;
                     font-size: 85%;
                }
            }
        }
    }
   

}

#login-box {
        margin-top: 50px;
        margin-left: 50px;
}
