RewriteEngine on


#No access to sensitive directory
RewriteRule ^application\/.*$ index.php [L]
RewriteRule ^library\/.*$ index.php [L]

RewriteCond  %{REQUEST_FILENAME} !-f
RewriteCond  %{REQUEST_FILENAME} !-d
RewriteRule ^/?(.*)$ index.php [L]