/* reset */
html,body, a, img, h1, h2, h3, h4, h5, h6, p, div, ul, li, span, b, table, th, td, tr, em, html, pre, code, blockquote, dl, dd{
	margin:0px;
	padding:0px;
	border: 0px;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
a {text-decoration:none;}
body {
	line-height: 1;
}
ol, ul {list-style: none;}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

